/* ABOUT PAGE | MOBILE */
/* LAST UPDATED 15 NOV */
 
#desktop_division {
display: none;
}

#tablet_division {
display: none;
}

* {
padding: 0;
margin: 0;
}

html {
    font-size: 1px;
}

#loader_box {
position: fixed;
width: 100%;
height: 100%;
background-color: white;
z-index: 200;
display: flex;
justify-content: center;
align-items: center;
z-index: 2000;
}

.loader_img {
width: 100px;
}

.top_arrow_image {
position: fixed;
width: 60px;
right: 0;
right: 40px;
bottom: 0;
bottom: 40px;
border-radius: 50%;
cursor: pointer;
visibility: hidden;
z-index: 1000;
}





/* Background Image Box */
.bk_box{
width: 100%;
height: 90px;
}

/* Background Image Cover */
.bk_cover {
width: 100%;
height: 150px;
background-color: black;
opacity: 50%;
position: absolute;
}

/* background Image */
.bk_img {
width: 100%;
height: 150px;
}

/* Logo Box */
.logo_box {
user-select: none;
cursor: pointer;
}

/* Logo Image */
.logo_image {
position: absolute;
top: 150px;
left: 20px;
width: 50px;
border-radius: 50%;
border: 5px white solid;
background-color: blue;
}

/* Logo Text */
.logo_text {
font-size: 30px;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
position: absolute;
left: 100px;
top: 165px;
color: aliceblue;
user-select: none;
font-style: italic;
text-shadow: 2px 2px 6px rgb(68, 67, 67);
}

/* Banner box */
.banner_box {
width: 100%;
height: 250px;
display: flex;
justify-content: center;
align-items: center;
}

/* Banner Image */
.banner_image {
width: 80%;
margin-top: 100px;
}

/* Body Page Contain About Paragraph */
.about_container {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
min-height: 1500px;
}   

/* Box Contain Heading and text */
.about_box {
width: 85%;
margin-top: 20px;
margin-bottom: 30px;
box-shadow: 2px 2px 15px 2px grey;
}

/* About Heading */
.about_heading {
font-size: 50px;
font-family: 'Oswald', sans-serif; 
position: relative;
margin-left: 20px;
padding-top: 40px;
}

/* About Text */
.about_text {
font-size: 20px;
font-family: 'Roboto', sans-serif; 
position: relative;
text-align: justify;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
}

